body {
    background-color: #81ecec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin: 40px;
}

.br-50 {
    border-radius: 50%;
    width: 250px;  
}

.txmargem {
    padding: 50px;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#menu li a:hover {
    color: grey;
}

.tm-social {
    width: 50px;
    height: 50px;
    padding: 30px;
}

.mg-26 {
    margin: 26px;
}

.bordatxt {
    border-radius: 90px 150px;
    background-color: white;
    margin-left: 10px;
}

.borda20px {
    border-radius: 20px;
}

.botao:hover {
    background-color:rgba(211, 195, 195, 0.781);
}